# Repositorios y herramientas de Build
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
bin/

# IDEs y Editores
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# OS generados
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Archivos de entorno y secretos
.env
.env.*
*.properties.local

# Archivos temporales
*.swp
*~
*.bak
*.tmp
